<div class="foto">  
  <img src="img/evandro.jpg" alt="" class="img-circle">
</div>
<h1>
  Evandro Diego Erlo
</h1>

<div class="description">
  <p>
    Densenvolvedor Web
  </p>
  <p>
    Atualmente trabalhando como desenvolvedor na Empresa 
      <a href="http://o2.ag/" target="_blank">
        <i>ó Dois Multicomunicação</i>
      </a>, trabalha com a empresa a mais de 5 anos com foco total em desenvolvimento.
  </p>
  <p>
    Trabalhei em vários projetos de grande porte, veja em meu <a href="#portifolio"><i>portifólio</i></a> alguns dos projetos que participei desde o início.
  </p>
</div>
