<ul class="projetos">
  <a href="http://setaengenharia.com.br/" target="_blank">
    <li class="item">
      <div class="col">
        <div class="cell">
           <img src="http://setaengenharia.com.br/web-files/site/images/logomarca.png" alt="SETA Engenharia"> 
        </div>
      </div>
    </li> 
  </a>
   <a href="http://itathermas.com.br/" target="_blank">
   <li class="item">
    <div class="col">
      <div class="cell">
        <img src="http://www.itathermas.com.br/web-files/site/img/logo_topo.png" alt="Itá Thermas"> 
      </div>
    </div>
  </li> 
  </a>
   <a href="http://o2multi.com.br/" target="_blank">
   <li class="item">
    <div class="col">
      <div class="cell">      
        <img src="http://www.o2multi.com.br/web-files/site/img/logo_topo.png" alt="o2.ag"> 
      </div>
    </div>
  </li> 
   </a>
   <a href="http://rottseguros.com.br/" target="_blank">
   <li class="item">
    <div class="col">
      <div class="cell">
        <img src="http://rottseguros.com.br//web-files/site/img/logo_footer.png" alt="Rottweiller Seguros"> 
      </div>
    </div>
  </li> 
   </a>
   <a href="http://imobiliariaestrela.com.br/" target="_blank">
   <li class="item">
    <div class="col">
      <div class="cell">
        <img src="http://imobiliariaestrela.com.br/web-files/site/img/logo_topo.png" alt="Imobiliaria Estrela"> 
      </div>
    </div>
  </li> 
   </a>
   <a href="http://compufacil.com.br/" target="_blank">
   <li class="item">
    <div class="col">
      <div class="cell">
        <img src="http://compufacil.com.br/web-files/site/img/logo_rodape.png" alt="CompuFácil"> 
      </div>
    </div>
  </li> 
   </a>
   <a href="http://concordia.psi.br/" target="_blank">
   <li class="item">
    <div class="col">
      <div class="cell">
        <img src="http://www.concordia.psi.br/web-files/template/images/logo_topo.png" alt="Interline"> 
      </div>
    </div>
  </li> 
  </a>
   <a href="http://planosaocamilo.com.br/" target="_blank">
   <li class="item">
    <div class="col">
      <div class="cell">
        <img src="http://planosaocamilo.com.br/web-files/site/images/logo_saocamilo.png" alt="Plano São Camilo"> 
      </div>
    </div>
  </li> 
  </a>
   <a href="http://radioalianca.com.br/" target="_blank">
   <li class="item">
    <div class="col">
      <div class="cell">
        <img src="http://www.radioalianca.com.br/web-files/template/images/logo_topo.png" alt="Rádio Aliança"> 
      </div>
    </div>
  </li> 
   </a>
   <a href="http://goxdrive.com.br/" target="_blank">
  <li class="item">
    <div class="col">
      <div class="cell">
        <img src="http://goxdrive.com.br/web-files/site/img/logo_topo.png" alt="Gox Drive"> 
      </div>
    </div>
  </li>
  </a>
</ul>
